################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hw5_repo/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/hw5/.vs/hw5/v16/Browse.VC.db
/hw5/.vs/hw5/v16/Browse.VC.opendb
